
.menuVertical{
  background: #b1c0c8;
}
.imagenCentralizada{
  display: flex;
  justify-content: center;
  background: #b1c0c8;
  border-right: 1px solid #000;
}
.imagenRedondeada{
  border-radius: 800px;
  width: 150px;
}

.prueba{
  font-size: 20px;
}

.menu-container {
  min-height: 100%;
  display: flex;
  flex: 1;
}
