

<app-dashboard></app-dashboard>

<div class="row mt-2">
  <h3 class="title">Mantenimiento Usuarios</h3>
</div>

<div class="row">
  <div class="col-md-8">
    <button class="btn btn-info titleButton">Agregar Usuario <i class="fa-solid fa-plus"></i></button>
  </div>
  <div class="col-md-4 justify-content-end">
    <div class="input-group mb-3">
      <!-- Seleccion -->
      <select class="form-select" aria-label="Default select example">
        <option selected>Seleccionar</option>
        <option value="1">Nombre</option>
        <option value="2">Identificación (Cédula)</option>
        <option value="3">Pasaporte</option>
      </select>
      <!-- textbox -->
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">

      <!-- Boton buscar -->
      <button class="btn btn-info titleButton">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</div>

<div class="row ventanaCompleta">
  <div class="col-md-12">
    <!-- <dx-data-grid
      id="gridContainer"
      [dataSource]="dataSource"
      [showBorders]="true"
      [remoteOperations]="true"
    >
      <dxi-column dataField="OrderNumber" dataType="number"> </dxi-column>
      <dxi-column dataField="OrderDate" dataType="date"> </dxi-column>
      <dxi-column dataField="StoreCity" dataType="string"> </dxi-column>
      <dxi-column dataField="StoreState" dataType="string"> </dxi-column>
      <dxi-column dataField="Employee" dataType="string"> </dxi-column>
      <dxi-column dataField="SaleAmount" dataType="number" format="currency">
      </dxi-column>
      <dxo-paging [pageSize]="12"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[8, 12, 20]"
      ></dxo-pager>
    </dx-data-grid> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Apellido(s)</th>
          <th>Nombre(s)</th>
          <th>Nombre de Usuario</th>
          <th>Cédula</th>
          <th>Pasaporte</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>Lorem, ipsum dolor.</td>
          <td>
            <button class="btn btn-info">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button class="btn btn-success btnAccion">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btnAccion">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Paginacion -->
    <nav aria-label="Page navigation example" class="">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
