.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btnIniciarSesion {
  background-color: #3498db;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

.btnGoogle {
  background-color: #dd4b39;
  color: #fff;
  cursor: pointer;
}

.btnApple {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
