

<app-dashboard></app-dashboard>

<div class="col-md-8 content">
  <div class="row ventanaCompleta">
    <div class="col-md-6">
      <h3 class="title">Mantenimiento Usuarios</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Descuento</th>
            <th>IVA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Salsa de Tomate</td>
            <td>100</td>
            <td>10</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Salsa de Tomate</td>
            <td>100</td>
            <td>10</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Salsa de Tomate</td>
            <td>100</td>
            <td>10</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Salsa de Tomate</td>
            <td>100</td>
            <td>10</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      <div>
        <strong class="distanciaGeneral">Sub Total: 0</strong>
        <strong class="distanciaGeneral">IVA: 0</strong>
        <strong class="distanciaGeneral">Total Pagado: 0</strong>
        <button class="btn btn-info">Generar Factura</button>
      </div>
    </div>
    <div class="col-md-6 justify-content-end">
      <form>
        <div class="form-group">
          <label for="input-datalist">Producto</label>
          <input type="text" class="form-control" placeholder="Timezone" list="list-timezone" id="input-datalist">
          <datalist id="list-timezone">
              <option>Asia/Aden</option>
              <option>Asia/Aqtau</option>
              <option>Asia/Baghdad</option>
              <option>Asia/Barnaul</option>
              <option>Asia/Chita</option>
              <option>Asia/Dhaka</option>
              <option>Asia/Famagusta</option>
              <option>Asia/Hong_Kong</option>
              <option>Asia/Jayapura</option>
              <option>Asia/Kuala_Lumpur</option>
              <option>Asia/Jakarta</option>
          </datalist>
        </div>
        <div class="form-group">
          <label for="CantidadProducto">Cantidad Producto</label>
          <input type="text" name="CantidadProducto" class="form-control">
        </div>
        <div class="form-group">
          <label for="PrecioUnidad">Precio</label>
          <input type="text" name="PrecioUnidad" class="form-control">
        </div>
        <div class="form-group mt-2">
          <button class="btn btn-info">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>
