.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 400px;
  padding: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btnIniciarSesion{
  width: 100%;
  color: #fff;
  background-color: #3498db;
  cursor: pointer;
}

/* .btnIniciarSesion {
  background-color: #3498db;
  width: 100%;
} */
